@tailwind base;
@tailwind components;
@tailwind utilities;

#noise {
    background: url(../../public/noise.png)
}

html {
    @apply overflow-x-hidden scroll-smooth touch-none;

}

body {
    @apply bg-zinc-900 text-zinc-100 antialiased overflow-x-hidden;
}

button {
    @apply font-bold
}

button, a {
    @apply cursor-pointer;
}

li {
    @apply py-4
}

li a {
    @apply text-xl sm:text-base text-zinc-300 sm:text-zinc-500 transition-colors duration-300
}

li a:hover {
    @apply text-zinc-200
}

section {
    @apply relative z-10 w-full max-w-7xl h-full py-12 px-4 sm:px-4 m-auto;
}

@media (max-width: 1024px) {
    html {
        font-size: 87.5%;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 75%;
    }
}
